* {
    touch-action: manipulation; !important; /* Verhindert Doppel-Tap-Zoom */
}

.center-container{
    width: 100%;
}

.center-text{
    margin-left: 20%;
    margin-right: 20%;
    font-size: 3rem;
    text-align: left;
    font-family: 'consolas';
    color: #7c4c4c;
    font-weight: bolder;
}


body{
    background-color: #222020;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.wrapper > p.head{
    font-family: 'Arial', 'Arial Narrow', Arial, sans-serif;
    font-size: 4rem;
    color: #ffffff;
}


.wrapper > input{
    font-family: 'Arial', 'Arial Narrow', Arial, sans-serif;
    height: 100px;
    width: 60%;
    font-size: 4rem;
    text-align: center;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', 'Arial Narrow', Arial, sans-serif;
    width: 20%;
    height: 100px;
    background-color: #5475c8;
    margin-top: 100px;
    font-size: 3rem;
    border-radius: 30px;
}

.error{
    display: none;
    font-family: 'Arial', 'Arial Narrow', Arial, sans-serif;
    color: #e42737;
    font-size: 2rem;
    margin-bottom: 80px;
}


.nozoomdiv{
    display: none;
    background-color: #222020;
    /*display: flex;*/
    /*justify-content: center;*/
    align-items: center;
    flex-direction: column;
    font-family: 'Consolas', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    width: 100%;
    //height: fit-content;
    color: #edb6b6;
}

h1{
    margin-top: 50%;
}
.ico{
    font-size: 200px;
    animation: heartbeat 5s infinite ease-in-out;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 4.5rem;
    font-weight: bold;
    height: 600px;
    width: 70%;
    /*background-color: #cf1111;*/
}

.text-long{
    height: fit-content !important;
    font-size: 2.5rem;
    font-weight: lighter;
    /*text-align: center;*/
}

.btn{
    /*position: absolute;*/
    /*bottom: 50px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 110px;
    font-size: 3rem;
    vertical-align: center;
    background-color: #7c4c4c;
    border-radius: 50px;
    user-select: none;
    margin-bottom: 100px;
    touch-action: manipulation;
}


@keyframes heartbeat {
    0%, 100% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.2);
    }
    50% {
        transform: scale(1);
    }
    75% {
        transform: scale(1.4);
    }
}